# default
# redis
# types-redis
uvicorn 
pytest
httpx
python-jose
python-dotenv
python-multipart

# env
pydantic-settings

# uvicorn
multiprocess

# Fastapi
fastapi
python-socketio

# database
sqlmodel
sqlalchemy
mysql-connector-python
pymysql

alembic

# logger
loguru

# AWS
boto3

# llm
langchain
langchain_community
langchain_openai
langchain_aws
langchain_core
langchain-huggingface
langchain-aws
langchain-google-genai
langchain-google-vertexai
langchain-google-community
langchain-openai
langchain-chroma

openai
tiktoken
tokencost
opensearch-py
GitPython
unstructured

# Google
google-cloud-storage
google-cloud-aiplatform
google-cloud-discoveryengine

# Azure
azure-core
azure-identity 
azure-search-documents
azure-storage-blob

# For Windows  
python-magic-bin; sys_platform == 'win32'  

# For Unix (Linux, macOS, etc.)  
python-magic; sys_platform != 'win32'


#Document Loader
pypdf
pandas
docx2txt
openpyxl

# Google
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
requests